* {
  box-sizing: border-box;
  user-select: none;
}
.chk span{
  background-color: #f5f8f4;
  font-size: 24px;
}
input[type='checkbox']{ height: 0; width: 0; }




input[type='checkbox'] + label{
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}
input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}


input[type='checkbox']:checked + label > span{
  border: .5em solid #5db85d;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  top: .6em;
  left: .2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #fff;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}
  input[type='checkbox']{ height: 0; width: 0; }
  
  
  
  input[type='checkbox']:checked + label > span{
    border: .5em solid #5db85d;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }
  input[type='checkbox']:checked + label > span:before{
    content: "";
    position: absolute;
    top: .5em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
  }
  
  @keyframes shrink-bounce{
    0%{
      transform: scale(1);
    }
    33%{    
      transform: scale(.85);
    }
    100%{
      transform: scale(1);    
    }
  }
  @keyframes checkbox-check{
    0%{
      width: 0;
      height: 0;
      border-color: #fff;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
      width: .2em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{    
      width: .2em;
      height: .5em;    
      border-color: #fff;
      transform: translate3d(0,-.5em,0) rotate(45deg);
    }
  }